.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#popup-container {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	/* background: linear-gradient(-45deg, white, blue, purple, silver); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  width: 700px;
  min-height: 280px;
	margin: 0px;
	padding: 10px 10px 10px 10px;

	background-color: white;
	/* background-color: #181b18; */ /* this is like an onyx thing */ 
	color: gray;
	border: 2px solid #716397;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body, input, textarea {
	font-family: "Montserrat", sans-serif;
}



#bookmark-checkbox-input, 
#bookmark-checkbox-label, 
#bookmark-checkbox-info-icon-cont,
#bookmark-checkbox-info-icon, 
#share-checkbox-input, 
#share-checkbox-label, 
#share-checkbox-info-icon, 
#add-tag-btn, 
#add-tag-checkbox-info-icon,
#add-tag-input-label,
#add-tag-btn {
	vertical-align: middle;
}

#bookmark-checkbox-info-icon, #share-checkbox-info-icon, #add-tag-checkbox-info-icon {
	width: 15px;
	font-size: 15px;
}

#add-tag-btn {
	font-size: 13px !important;
	padding: 0px 0px 0px 0px;
	height: 20px;
	width: 20px;
}

#bookmark-checkbox-input, #share-checkbox-input {
	font-size: 13px !important;
	padding: 0px 0px 0px 0px;
	height: 15px;
	width: 15px;
}

/* #bookmark-checkbox-input, #share-checkbox-input {
	font-size: 20px
} */

.bookmark-submit-label {
	font-size: 15px;
	/* color: white; */
	/* font-weight: bold; */
}

#bookmark-checkbox-input, 
#bookmark-checkbox-info-icon,
#share-checkbox-input,
#share-checkbox-info-icon,
#add-tag-btn,
#add-tag-checkbox-info-icon,
#submit-btn {
	cursor: pointer;
}

#submit-btn, #add-tag-btn, #new-tag-done-btn, #new-tag-cancel-btn {
	border-radius: 2px;
	border: 1px solid #716397;
	font-family: 'Montserrat';
	font-size: 20px;
	background-color: #f1f0f5;
	color: #716397;
	cursor: pointer;
}

#new-tag-done-btn, #new-tag-cancel-btn {
	font-size: 12px;
}

#submit-btn:hover, #add-tag-btn:hover, #new-tag-done-btn:hover {
	background-color: #716397;
	color: white;
}

#submit-btn:focus, #add-tag-btn:focus, #new-tag-done-btn:focus {
	background-color: #716397;
	color: white;
}

#new-tag-cancel-btn:hover {
	border: 1px solid #f44336;
	box-shadow: 0px 0px 2px 2px #f44336;
	color: #f44336;
}

#new-tag-cont {
	display: none
}

#bookmark-submit-rating-stars-cont {
	display: inline-block;
	height: 20px;
}

#bookmark-submit-rating {
	vertical-align: middle;
}

.bookmark-submit-rating-star {
	font-size: 20px !important;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.rating-star-filled {
	cursor: pointer; 
	color: gold; 
	font-variation-settings: 'FILL' 1;
}

#create-bookmark-tab, #view-feed-tab, #view-bookmarks-tab {
	font-size: 20px;
}

.selected-tab {
	color: #716397;
	text-decoration: underline;
	cursor: default;
}

.unselected-tab {
	color: #716397;
	opacity: 75%;
}

.unselected-tab:hover {
	cursor: pointer;
	color:#716397;
	opacity: 100%;
	text-decoration: underline;
}

.bookmark-URL-link {
	text-decoration: none;
	color: #716397;
	font-weight: 500;
}
.bookmark-URL-link:hover {
	color: #716397;
	text-decoration: underline;
}

.sort-icon {
	font-size: 16px !important;
	vertical-align: middle;
	cursor: pointer;
	color: #716397;
}

.sort-icon:hover {
	color: #716397;
	text-decoration: underline;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#saved-bookmarks-table {
	table-layout: fixed;
	width: 700px;
	border-spacing: 3px;
}

th, td {
	padding:5px; 
  border:solid 1px #eee; /* is this a good color? */
	width: 50px;
	height: 20px;
	overflow: hidden;
}

/* remove the focus outline when the user clicks on the search field */
input:focus,
select:focus,
textarea:focus,
button:focus,
span:focus {
	outline: none;
}

#bookmark-title-input, #bookmark-description-value, #saved-bookmarks-search, #new-tag-input {
	border: 1px solid #716397;
	padding: 4px 4px 4px 4px;
	border-radius: 2px;
	opacity: 1;
	margin-bottom: 10px;
	color:#716397;
	font-size: 15px;
	background-color: #f1f0f5;
	/* color: black; this is still an open question... */
}

#new-tag-input {
	font-size: 12px;
	padding: 2px 4px 2px 4px;
}

#bookmark-title-input:focus, #bookmark-description-value:focus, #saved-bookmarks-search:focus, #new-tag-input:focus {
	box-shadow: 0px 0px 0px 1px #716397;
	opacity: 1;
	/* border: 1px solid #003167; substructure website colors */
}

#bookmark-title-input:hover, #bookmark-description-value:hover, #saved-bookmarks-search:hover, #new-tag-input:hover {
	box-shadow: 0px 0px 0px 1px #716397;
	opacity: 1;
}

#saved-bookmarks-search {
	width: 200px;
}

/* this is the placeholder in a search input */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #716397;
  opacity: 0.5; /* Firefox */
}

.tag-name {
	color: #716397;
	vertical-align: middle;
}

.remove-tag-btn {
 	font-size: 11px !important; 
	vertical-align: middle; 
	color: #716397;
	cursor: pointer;
	display: none;
}

.remove-tag-btn:hover {
	color: #f44336;
}

.new-tag {
	border: 1px solid #716397;
	/* background-color: #f1f0f5; this was the old background color */
	color: #716397;
	margin-right: 5px;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	opacity: 1;
	font-size: 12px;
}

.remove-tag-hover {
	border: 1px solid #f44336 !important;
	box-shadow: 0px 0px 2px 2px #f44336 !important;
	color: #f44336 !important;
	opacity: 1;
}

#saved-bookmarks-table-pag li {
	display: inline;
	margin-right: 10px;
	font-size: 15px;
}

#saved-bookmarks-table-pag li:hover {
	text-decoration: underline;
}

#saved-bookmarks-table-pag li a {
	color:#716397;
	text-decoration: none;
}

#saved-bookmarks-table-pag li.active a {
	text-decoration: underline;
}

#saved-bookmarks-table-pag li.disabled a {
	text-decoration: none;
}

#saved-bookmarks-table-pag {
	padding: 0px 0px 0px 0px;
}

/* not used for now */
/* .checkbox-input-focus {
	-webkit-box-shadow: 0px 0px 0px 1px #716397;
	-moz-box-shadow: 0px 0px 0px 1px #716397;
	box-shadow: 0px 0px 0px 2px #716397;
} */