.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#popup-container {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	/* background: linear-gradient(-45deg, white, blue, purple, silver); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  width: 500px;
  height: 150px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body, input, textarea {
	font-family: "Montserrat", sans-serif;
}



#bookmark-checkbox-input, 
#bookmark-checkbox-label, 
#bookmark-checkbox-info-icon-cont,
#bookmark-checkbox-info-icon, 
#share-checkbox-input, 
#share-checkbox-label, 
#share-checkbox-info-icon, 
#add-tag-btn, 
#add-tag-checkbox-info-icon,
#add-tag-input-label,
#add-tag-btn {
	vertical-align: middle;
}

#bookmark-checkbox-info-icon, #share-checkbox-info-icon, #add-tag-checkbox-info-icon {
	width: 15px;
	font-size: 15px;
}

#add-tag-btn {
	font-size: 20px;
	color: green;
}

/* #bookmark-checkbox-input, #share-checkbox-input {
	font-size: 20px
} */

.bookmark-submit-label {
	font-size: 15px;
	/* color: white; */
	/* font-weight: bold; */
}

#bookmark-checkbox-input, 
#bookmark-checkbox-info-icon,
#share-checkbox-input,
#share-checkbox-info-icon,
#add-tag-btn,
#add-tag-checkbox-info-icon,
#submit-btn {
	cursor: pointer;
}

#new-tag-cont {
	display: none
}

#new-tags-display-cont > span {
	border: 1px solid black;
	margin-right: 5px;
	cursor: pointer;
}

#bookmark-submit-rating-stars-cont {
	display: inline-block;
	height: 20px;
}

#bookmark-submit-rating {
	vertical-align: middle;
}

.bookmark-submit-rating-star {
	font-size: 20px !important;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.rating-star-filled {
	cursor: pointer; 
	color: gold; 
	font-variation-settings: 'FILL' 1;
}

#create-bookmark-tab, #view-feed-tab, #view-bookmarks-tab {
	cursor: pointer;
	font-size: 20px;
	border: 1px solid black;
}

.selected-tab {
	background-color: black;
	color: white;
}

.bookmark-URL-link {
	text-decoration: underline;
	color: black;
}
.bookmark-URL-link:hover {
	color: green;
}

.sort-icon {
	transform: rotate(90deg);
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}



