<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/popup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body id="popup-container">
    <div id="tabs-cont">
      <span class="selected-tab" id="create-bookmark-tab">BOOKMARK</span>
      <span id="view-bookmarks-tab">SAVED</span>
      <span id="view-feed-tab">FEED</span>
      <span id="status-cont"></span>
    </div>
    <br>
    <div id="create-bookmark-cont">
      <span id="bookmark-title-cont">
        <label class="bookmark-submit-label" id="bookmark-title-label" for="bookmark-title-input">TITLE</label>
        <input style="width: 400px; margin-left: 5px;" id="bookmark-title-input">
      </span>
      <br>
      <span id="bookmark-input-cont">
        <input id="bookmark-checkbox-input" type="checkbox" name="bookmark-checkbox" checked>
        <label class="bookmark-submit-label" id="bookmark-checkbox-label" for="bookmark-checkbox">BOOKMARK</label>
        <!-- <span id="bookmark-checkbox-info-icon" class="material-symbols-outlined">help</span> -->
      </span>
      <br>
      <span id="share-input-cont">
        <input id="share-checkbox-input" type="checkbox" name="share-checkbox">
        <label class="bookmark-submit-label" id="share-checkbox-label" for="share-checkbox">SHARE</label>
        <!-- <span id="share-checkbox-info-icon" class="material-symbols-outlined">help</span> -->
      </span>
      <br>
      <span id="add-tag-input-cont">
        <span id="add-tag-input-label" style="font-size: 15px">TAGS </span>
        <span id="add-tag-btn" class="material-symbols-outlined">add_circle</span>
        <!-- <span id="add-tag-checkbox-info-icon" class="material-symbols-outlined">help</span> -->
      </span>
      <span id="new-tags-display-cont"></span>
      <span id="new-tag-cont">
        <br>
        <input style="text-transform:uppercase" id="new-tag-input" type="text">
        <button id="new-tag-done-btn">Done</button>
        <button id="new-tag-cancel-btn">Cancel</button>
      </span>
      <br/>
      <span id="bookmark-descrip-cont">
        <span style="font-size: 15px">DESCRIPTION</span>
        <br>
        <textarea id="bookmark-description-value"></textarea>
      </span>
      <br>
      <span id="bookmark-submit-rating-stars-cont">
        <span style="font-size: 15px; vertical-align: middle;">RATING </span>
        <span data-submit-rating-star="1" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
        <span data-submit-rating-star="2" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
        <span data-submit-rating-star="3" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
        <span data-submit-rating-star="4" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
        <span data-submit-rating-star="5" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
        <span id="bookmark-submit-rating">(None)</span>
      </span>
      <br><br>
      <span>
        <button id="submit-btn">Save Bookmark</button>
      </span>
      <span>
        <button id="login-page-btn">Login</button>
      </span>
    </div>
    <div id="view-bookmarks-cont" style="display: none;">
      <div id="saved-bookmarks-table-cont">
        <input type="search" class="search" placeholder="normal search">
        <table id="saved-bookmarks-table">
          <thead>
            <th>Name <button class="sort" data-sort="bookmark-title">Sort</button></th>
            <th>Tags</th>
            <th>Rating</th>
            <th>Bookmark Date</th>
          </thead>
          <tbody class="list" id="saved-bookmarks-table-body"></tbody>
        </table>
      </div>
    </div>
    <div id="view-feed-cont" style="display: none">
      THIS IS WHERE FEED GOES
    </div>
    <script src="../config/config.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/moment.min.js"></script>
    <script src="../scripts/popup.js"></script>
    <script src="../scripts/list.js"></script>
  </body>
</html>