<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/popup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body id="popup-container">
    <span class="bookmark-input-cont">
      <input id="bookmark-checkbox-input" type="checkbox" name="bookmark-checkbox" checked>
      <label class="bookmark-submit-label" id="bookmark-checkbox-label" for="bookmark-checkbox">BOOKMARK</label>
      <!-- <span id="bookmark-checkbox-info-icon" class="material-symbols-outlined">help</span> -->
    </span>
    <br>
    <span class="share-input-cont">
      <input id="share-checkbox-input" type="checkbox" name="share-checkbox">
      <label class="bookmark-submit-label" id="share-checkbox-label" for="share-checkbox">SHARE</label>
      <!-- <span id="share-checkbox-info-icon" class="material-symbols-outlined">help</span> -->
    </span>
    <br>
    <span class="add-tag-input-cont">
      <span id="add-tag-input-label" style="font-size: 15px">TAGS </span>
      <span id="add-tag-btn" class="material-symbols-outlined">add_circle</span>
      <!-- <span id="add-tag-checkbox-info-icon" class="material-symbols-outlined">help</span> -->
    </span>
    <span id="new-tags-display-cont"></span>
    <span id="new-tag-cont">
      <br>
      <input style="text-transform:uppercase" id="new-tag-input" type="text">
      <button id="new-tag-done-btn">Done</button>
      <button id="new-tag-cancel-btn">Cancel</button>
    </span>
    <br/>
    <span id="bookmark-descrip-cont">
      <span style="font-size: 15px">DESCRIPTION</span>
      <br>
      <textarea id="bookmark-description-value"></textarea>
    </span>
    <br>
    <span id="bookmark-submit-rating-stars-cont">
      <span style="font-size: 15px; vertical-align: middle;">RATING </span>
      <span data-submit-rating-star="1" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
      <span data-submit-rating-star="2" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
      <span data-submit-rating-star="3" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
      <span data-submit-rating-star="4" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
      <span data-submit-rating-star="5" class="material-symbols-outlined bookmark-submit-rating-star">star_rate</span>
      <span id="bookmark-submit-rating">(None)</span>
    </span>
    <br><br>
    <span>
      <button id="submit-btn">Done</button>
    </span>
    <script src="../config/config.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/popup.js"></script>
  </body>
</html>