<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/popup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body id="popup-container">
    <span class="bookmark-input-cont">
      <input id="bookmark-checkbox-input" type="checkbox" name="bookmark-checkbox" checked>
      <label class="bookmark-submit-label" id="bookmark-checkbox-label" for="bookmark-checkbox">BOOKMARK</label>
      <span id="bookmark-checkbox-info-icon" class="material-symbols-outlined">help</span>
    </span>
    <br>
    <span class="share-input-cont">
      <input id="share-checkbox-input" type="checkbox" name="share-checkbox">
      <label class="bookmark-submit-label" id="share-checkbox-label" for="share-checkbox">SHARE</label>
      <span id="share-checkbox-info-icon" class="material-symbols-outlined">help</span>
    </span>
    <br>
    <span class="add-tag-input-cont">
      <button id="add-tag-btn">Add Tag</button>
      <span id="add-tag-checkbox-info-icon" class="material-symbols-outlined">help</span>
    </span>
    <br>
    <span>
      <button id="submit-btn">Done</button>
    </span>
    <script src="../config/config.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/popup.js"></script>
  </body>
</html>